---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   A Dedicated, Resourceful and a Versatile young lady with experience in Social Media Manager, Customer Services Representative and a Mass Communicator. I look forward to utilizing my skills and competency in a fast-paced and multi-tasking environment with the agitation to learn new and creative ideas with advanced innovations as well.    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BSC Mass Communication"
      subtitle="2019 to 2024 at Lagos State University, Lagos, Nigeria"
    />
    <TimeLineElement
      title="Certified Digital Marketer"
      subtitle="September 2024 at Honeytreat Trade Academy ,Lagos,Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Virtual Assistant"
      subtitle="2024 at GetworkingUK, London,UK"
    >
	Creating and managing emails 
 	Crafted a well detailed resume for clients in search of work in the UK 
	Responded to customer inquiries and managing relationships to support through various channel 
	Gathered clients data and compiling reports to assist in decision making 
	Responded to emails within 24 hours for effective communication •
 .
    </TimeLineElement>
    <TimeLineElement
      title="Campaign AD Manager"
      subtitle="2024  at Trade With Lumide, Lagos,Nigeria"
    >
   Developed comprehensive advertising strategies to enhance brand awareness and engagement.
 Managed multi-channel ad campaigns across digital and traditional platforms.
 Handled campaign budgets, ensuring cost-effective allocation and ROI optimization.
 Analyzed performance metrics and generated detailed campaign reports.
Led cross-functional teams for seamless campaign execution.
 Maintained strong client relationships and ensured alignment with their advertising goals.
    </TimeLineElement>
    <TimeLineElement
      title="Social MediaManger  "
      subtitle="2022 to 2023 at WAPTV,Lagos,Nigeria"
    >
       Crafted spellbinding content that significantly increased user engagement.
 Stayed ahead of social media trends, incorporating them into content strategy for heightened
relevance.
 Transformed raw data into potent insights, guiding mystical campaign optimizations.
 Fostered an online community, resulting in a substantial growth in follower interaction    
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">Fundamentals of digital Marketing (https://skillshop.exceedlms.com/student/collection/648385-digital-marketing)</a>
    </li>
    <li>
      <a href="#" target="_blank">Google ADS Display Certification (skillshop.docebosaas.com/legacy/lms/index.php%3Fr%3DmyActivities/index%26tab%3Dcertification)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Search Engine Optimization</li>
    <li>Social Media Management</li>
    <liEmail Marketing></li>
    <li>Content Writing</li>
    <li>Paid Advertising</li>
    <li>Customer Relations Management</li>
    <liPublic Relations></li>
    <li>Google Analytics</li>
    <li>Google Business Profile</li>
    <li>Mobile Marketing</li>
    <li>Conversion Rate Optimization</li>
    <li>Communication</li>
    <li>Content Creation</li>
    <li>Branding</li>
    <li>Sales Funnel</li>
  </ul>
</BaseLayout>
