---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ajamole Olajumoke</div>
    <div class="text-3xl py-3 font-bold">Digital Marketing Specialist </div>
    <div class="py-2">
      <text class="text-lg">
        This is <b>Ajamole Olajumoke</b>I'm a proficient and forward-thinking Digital Marketing Specialist, I possess a comprehensive skill set that drives impactful online marketing strategies and delivers measurable results. With a strong foundation in SEO, SEM, content creation, social media marketing, and data analytics, I excel at boosting brand visibility and engagement across digital platforms.
  I hope you find
        it useful!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/olatohjumoke?s=21&t=mLDP0WSHpuDHlJrqvvTH-g" target="_blank"> Let's connect!</a>
      <a href="www.linkedin.com/in/olajumoke-ajamole-15230523b" target="_blank" class="btn btn-outline ml-5">
        Let's Connect
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Breathe Easy,Cost & Tips To Professional Smove Removal Service"
    img="/post_img.webp"
    desc="https://www.puroclean.com/schwenksville-pa-puroclean-lansdale/blog/breathe-easy-cost-tips-to-professional-smoke-removal-service/."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Conquer Allergies: Cleaning Tips for a Breath of Fresh Air"
    img="/post_img.webp"
    desc="https://myguydigital.com/2024/12/03/https-myguydigital-com-cleaning-tips/."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Restuarant In Lagos"
    img="/post_img.webp"
    desc="FOOD LOVERS, GREAT TASTE: RESTUARANTS IN LAGOS
Restaurant in Lagos offers ranges of cuisine from local to international ranging from Japanese, Nigerian, Chinese and more. Lagos as we know is an urban city with a wide range of culinary experts offering foods from different diverse. Getting to know a good restaurant is not something hard in Lagos because there are lots of professional food critic to guide you on what to eat and what not to eat.
."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
